@import url(https://fonts.googleapis.com/css?family=Space+Mono);

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Space Mono', 'Open Sans', sans-serif;
}

#view {
    position: absolute;
}